.bgimage{
     background: url('../../assets/standing.jpg') no-repeat fixed;
     background-size: cover;
  height: 900px;

  
  text-align: center;

  

}
.btnsetting{
  
  background-color: rgb(236, 137, 8);
  color:white;
  box-shadow: none;
  border: none;
  width:20%;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.headingsetting{
  text-shadow: 1px 1px rgba(0, 0, 0, 0.788);
font-size: 65px;
color: white;
text-align: center;
font-family: raleway,sans-serif;

}
.maketext{
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.788);
font-size: 20px;
color: white;
text-align: center;
font-family: raleway,sans-serif;
}

.adjustcontent{
  padding-top: 25%;
}
@media(min-width: 320px) and (max-width: 374px){
            .setflex{
           
                margin-top: -0.5%;
               margin-left:0%;
               background-color: rgb(0, 36, 24);
                padding-top: 5%;
                padding-bottom: 10%;
            
           overflow: hidden;
           
    
            
            
            
           
            }
            
    
    
            .setflexx{
           
                position: relative;
        
                z-index:-1;
               
                margin-top: -0.5%;
               margin-left:0%;
               background-color: rgb(0, 87, 61);
               padding-top: 5%;
    
                padding-bottom: 10%;
            
        
                overflow: hidden;
            
            
            }

        }





@media(min-width: 320px) and (max-width: 375px){
    button.btnsetting{
font-size: 17px;
width:50%;
    }
  }

    @media(min-width: 375px) and (max-width: 425px){
            
     
    }
    @media(min-width: 425px) and (max-width: 768px){
       
    
  }
    @media(min-width: 768px) and (max-width: 1024px){
        
    
  }
    @media(min-width: 1024px) and (max-width: 1440px){
    
       

      
  }
  
  
  
  @media(min-width: 1440px) and (max-width: 2560px){
    
  
   
      
  }
































/* 






@media(min-width: 320px) and (max-width: 375px){
        
     
    }

    @media(min-width: 375px) and (max-width: 425px){
        
     
    }
    @media(min-width: 425px) and (max-width: 768px){
       
    
  }
    @media(min-width: 768px) and (max-width: 1024px){
        
    
  }
    @media(min-width: 1024px) and (max-width: 1440px){
    
       

      
  }
  
  
  
  @media(min-width: 1440px) and (max-width: 2560px){
    
  
   
      
  } */