.mapcolor{
    background-color: rgba(255, 255, 255, 0.74);
    width:100%;
}

.bgmap{
     background: url('../../assets/mapi.png') no-repeat ;
     background-size: cover;
  height: 900px;
  width:100%;

  
  text-align: center;

}

.minarrange{
    text-align: center;
    font-size: 22px;
    letter-spacing: 3px;
}

.hoc{
    border: none;
}
.maintitlefor{
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
}
.sizeadjust{
    font-size: 25px;
    
}
.makeblu{
    color: royalblue;
}
.adjli li{
    color:rgb(0, 0, 0)(19, 12, 12);
    text-align: center;
}













@media(min-width: 320px) and (max-width: 375px){
    div.hoc.container{
        width: 100%;
         font-size: 18px;
    }
    div.maintitlefor{
        font-size: 18px;
    }
    div.mapcolor{
        height: 100%;
         font-size: 18px;
    }
    


.bgmap{
     background: url('../../assets/mapi.png') no-repeat ;
     background-size: cover;
  height: 1050px;
  width:100%;

  
  text-align: center;

}


  }

    @media(min-width: 375px) and (max-width: 425px){
            
     div.hoc.container{
        height: 100%;
    }
    }
    @media(min-width: 425px) and (max-width: 768px){
       
    
  }
    @media(min-width: 768px) and (max-width: 1024px){
        
    
  }
    @media(min-width: 1024px) and (max-width: 1440px){
    
       

      
  }
  
  
  
  @media(min-width: 1440px) and (max-width: 2560px){
    
  
   
      
  }














